<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="abrirNuevo()" />
        <p-button severity="secondary" label="Eliminar seleccionados" icon="pi pi-trash" outlined />
    </ng-template>
    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>

<div class="contenedor">
<p-table #dt [value]="tesis()" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['nombre_completo',  'nombre_tesis', 'universidad', 'usuario_plataforma', 'clave_plataforma', 'estado_id', 'fecha_creacion', 'fecha_modificacion']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="seleccionarTesis" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} tesis" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]" [loading]="isLoading" >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Lista de Tesis</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th>
                <p-tableheadercheckbox />
            </th>
            <th style="min-width: 5rem">Opciones</th>
            <th pSortableColumn="clientes_id">Clientes
                <p-sorticon field="clientes_id" />
            </th>
            <th pSortableColumn="nombre_tesis">Nombre de la tesis
                <p-sorticon field="nombre_tesis" />
            </th>
            <th pSortableColumn="universidad">Universidad
                <p-sorticon field="universidad" />
            </th>
            <th pSortableColumn="usuario_plataforma">Usuario de plataforma
                <p-sorticon field="usuario_plataforma" />
            </th>
            <th pSortableColumn="clave_plataforma">Clave de plataforma
                <p-sorticon field="clave_plataforma" />
            </th>
            <th pSortableColumn="estado_id">Estado
                <p-sorticon field="estado_id" />
            </th>
            <th pSortableColumn="fecha_creacion">Fecha creación
                <p-sorticon field="fecha_creacion" />
            </th>
            <th pSortableColumn="fecha_modificacion">Fecha modificación
                <p-sorticon field="fecha_modificacion" />
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-ttesiss>
        <tr>
            <td>
                <p-tableCheckbox [value]="ttesiss" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editarTesis(ttesiss)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="eliminarTesis(ttesiss)" />
            </td>
            <td>{{ ttesiss.nombre_completo }}</td>
            <td>{{ ttesiss.nombre_tesis }}</td>
            <td>{{ ttesiss.universidad }}</td>
            <td>{{ ttesiss.usuario_plataforma }}</td>
            <td>{{ ttesiss.clave_plataforma }}</td>
            <td>
                <p-tag [value]="getEstado(ttesiss.estado_id)" [severity]="getEstadoSeverity(ttesiss.estado_id)" />
            </td>
            <td>{{ ttesiss.fecha_creacion }}</td>
            <td>{{ ttesiss.fecha_modificacion }}</td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="10">No hay registros a mostrar</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="10">Cargando los registro. Por favor, espere...</td>
        </tr>
    </ng-template>
</p-table>
</div>
<div class="card">
    <p-drawer [(visible)]="tesisDialogo" [style]="{ width: '450px' }"
        [header]="accion === 1 ? 'Nueva Tesis' : 'Actualizar Tesis'" [modal]="true" position="right">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="clientes_id" class="block font-bold mb-3">Clientes</label>
                    <p-select [(ngModel)]="ttesiss.clientes_id" inputId="clientes_id"
                        [options]="opcionesClientes" optionLabel="nombre" optionValue="id"
                        placeholder="Selecciona al cliente" fluid />
                    <small class="text-red-500" *ngIf="enviar && !ttesiss.clientes_id">Cliente es
                        requerido</small>
                </div>
                <div>
                    <label for="nombre_tesis" class="block font-bold mb-3">Nombre de la tesis</label>
                    <input type="text" pInputText [(ngModel)]="ttesiss.nombre_tesis" id="nombre_tesis" required
                        fluid />
                    <small class="text-red-500" *ngIf="enviar && !ttesiss.nombre_tesis">Nombre de la tesis es
                        requerido</small>
                </div>
                <div>
                    <label for="universidad" class="block font-bold mb-3">Universidad</label>
                    <input type="text" pInputText [(ngModel)]="ttesiss.universidad" id="universidad" required
                        fluid />
                    <small class="text-red-500" *ngIf="enviar && !ttesiss.universidad">Universidad es
                        requerido</small>
                </div>
                <div>
                    <label for="usuario_plataforma" class="block font-bold mb-3">Usuario de plataforma</label>
                    <input type="email" pInputText [(ngModel)]="ttesiss.usuario_plataforma" id="usuario_plataforma"
                        required fluid />
                    <small class="text-red-500" *ngIf="enviar && !ttesiss.usuario_plataforma">Usuario de plataforma es
                        requerido</small>
                </div>
                <div>
                    <label for="clave_plataforma" class="block font-bold mb-3">Clave de plataforma</label>
                    <input type="text" pInputText [(ngModel)]="ttesiss.clave_plataforma" id="clave_plataforma" required fluid />
                    <small class="text-red-500" *ngIf="enviar && !ttesiss.clave_plataforma">Clave de plataforma es
                        requerido</small>
                </div>
                <div *ngIf="accion === 2">
                    <label for="estado_id" class="block font-
                    bold mb-3">Estado</label>
                    <p-select [(ngModel)]="ttesiss.estado_id" inputId="estado_id" [options]="opcionesEstado"
                        optionLabel="nombre" optionValue="id" placeholder="Seleccionar estado" appendTo="body" fluid />
                </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" variant="text" [raised]="true" severity="danger"
                (click)="ocultarDialogo()" />
            <p-button label="Guardar" icon="pi pi-check" [raised]="true" severity="info" (click)="guardarTesis()" [loading]="isLoading"/>
        </ng-template>

    </p-drawer>
</div>

<p-confirmdialog [style]="{ width: '450px' }" />


<style>
    .contenedor{
        overflow-x: auto;
    }
    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }

    td{
        white-space: nowrap;
        overflow: hidden;
        max-width: auto;
    }

    th{
        white-space: nowrap;
        overflow: hidden;
        max-width: auto;
    }
</style>
