<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="abrirNuevo()" />
        <p-button severity="secondary" label="Eliminar seleccionados" icon="pi pi-trash" outlined />
    </ng-template>
    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>
<div class="contenedor">
<p-table #dt [value]="clientes()" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['tipodocumento_id', 'nro_documento', 'nombre_completo', 'correo_electronico', 'nro_celular', 'estado_id', 'fecha_creacion', 'fecha_modificacion']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="seleccionarClientes" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} clientes" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]" [loading]="isLoading" >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Lista de Clientes</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th>
                <p-tableheadercheckbox />
            </th>
            <th>Opciones</th>
            <th pSortableColumn="tipodocumento_id">Tipo documento
                <p-sorticon field="tipodocumento_id" />
            </th>
            <th pSortableColumn="nro_documento">Nro documento
                <p-sorticon field="nro_documento" />
            </th>
            <th pSortableColumn="nombre_completo">Nombre completo
                <p-sorticon field="nombre_completo" />
            </th>
            <th pSortableColumn="correo_electronico">Correo
                <p-sorticon field="correo_electronico" />
            </th>
            <th pSortableColumn="nro_celular">Nro celular
                <p-sorticon field="nro_celular" />
            </th>
            <th pSortableColumn="estado_id">Estado
                <p-sorticon field="estado_id" />
            </th>
            <th pSortableColumn="fecha_creacion">Fecha creación
                <p-sorticon field="fecha_creacion" />
            </th>
            <th pSortableColumn="fecha_modificacion">Fecha modificación
                <p-sorticon field="fecha_modificacion" />
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-cliente >
        <tr>
            <td>
                <p-tableCheckbox [value]="cliente" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editarCliente(cliente)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="eliminarCliente(cliente)" />
            </td>
            <td>{{ cliente.tipodocumento_nombre }}</td>
            <td>{{ cliente.nro_documento }}</td>
            <td>{{ cliente.nombre_completo }}</td>
            <td>{{ cliente.correo_electronico }}</td>
            <td>{{ cliente.nro_celular }}</td>
            <td>
                <p-tag [value]="getEstado(cliente.estado_id)" [severity]="getEstadoSeverity(cliente.estado_id)" />
            </td>
            <td>{{ cliente.fecha_creacion }}</td>
            <td>{{ cliente.fecha_modificacion }}</td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="10">No hay registros a mostrar</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="10">Cargando los registro. Por favor, espere...</td>
        </tr>
    </ng-template>
</p-table>
</div>
<div class="card">
    <p-drawer [(visible)]="clienteDialogo" [style]="{ width: '450px' }"
        [header]="accion === 1 ? 'Nuevo cliente' : 'Actualizar cliente'" [modal]="true" position="right">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="tipodocumento_id" class="block font-bold mb-3">Tipo documento</label>
                    <p-select [(ngModel)]="cliente.tipodocumento_id" inputId="tipodocumento_id"
                        [options]="opcionesTipodocumento" optionLabel="nombre" optionValue="id"
                        placeholder="Selecciona el tipo documento" fluid />
                    <small class="text-red-500" *ngIf="enviar && !cliente.tipodocumento_id">Tipo documento es
                        requerido</small>
                </div>
                <div>
                    <label for="nro_documento" class="block font-bold mb-3">N° de documento</label>
                    <input type="text" pInputText [(ngModel)]="cliente.nro_documento" id="nro_documento" required
                        fluid />
                    <small class="text-red-500" *ngIf="enviar && !cliente.nro_documento">N° de documento es
                        requerido</small>
                </div>
                <div>
                    <label for="nombre_completo" class="block font-bold mb-3">Nombre completo</label>
                    <input type="text" pInputText [(ngModel)]="cliente.nombre_completo" id="nombre_completo" required
                        fluid />
                    <small class="text-red-500" *ngIf="enviar && !cliente.nombre_completo">Nombre completo es
                        requerido</small>
                </div>
                <div>
                    <label for="correo_electronico" class="block font-bold mb-3">Correo electronico</label>
                    <input type="email" pInputText [(ngModel)]="cliente.correo_electronico" id="correo_electronico"
                        required fluid />
                    <small class="text-red-500" *ngIf="enviar && !cliente.correo_electronico">Correo electronico es
                        requerido</small>
                </div>
                <div>
                    <label for="nro_celular" class="block font-bold mb-3">N° de celular</label>
                    <input type="text" pInputText [(ngModel)]="cliente.nro_celular" id="nro_celular" required fluid />
                    <small class="text-red-500" *ngIf="enviar && !cliente.nro_celular">N° de celular es
                        requerido</small>
                </div>
                <div *ngIf="accion === 2">
                    <label for="estado_id" class="block font-bold mb-3">Estado</label>
                    <p-select [(ngModel)]="cliente.estado_id" inputId="estado_id" [options]="opcionesEstado"
                        optionLabel="nombre" optionValue="id" placeholder="Seleccionar estado" appendTo="body" fluid />
                </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" variant="text" [raised]="true" severity="danger"
                (click)="ocultarDialogo()" />
            <p-button label="Guardar" icon="pi pi-check" [raised]="true" severity="info" (click)="guardarClientes()" [loading]="isLoading"/>
        </ng-template>

    </p-drawer>
</div>

<p-confirmdialog [style]="{ width: '450px' }" />


<style>
    .contenedor{
        overflow-x: auto;
    }
    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }

    td{
        white-space: nowrap;
        overflow: hidden;
        max-width: auto;
    }

    th{
        white-space: nowrap;
        overflow: hidden;
        max-width: auto;
    }
</style>
